html {
  background-color: var(--background-color);
  box-sizing: border-box;
  scroll-padding-top: var(--spacing);

  @media(min-width: $breakpoint--desktop) {
    scroll-padding-top: var(--spacing--double);
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}
