$_section-gutter-width: 4.5rem;

.section {
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-areas: "... content ...";
  grid-template-columns: var(--spacing) auto var(--spacing);
  grid-row-gap: var(--spacing--half);

  @media(min-width: $breakpoint--mobile) {
    grid-template-columns: minmax($_section-gutter-width, 1fr) minmax(auto, var(--width--content)) minmax($_section-gutter-width, 1fr);
  }
}

.section--bordered {
  border-bottom: var(--border);
  border-top: var(--border);
}

.section--padded {
  padding-bottom: var(--spacing);
  padding-top: var(--spacing);

  @media(min-width: $breakpoint--mobile) {
    padding-bottom: var(--spacing--double);
    padding-top: var(--spacing--double);
  }
}

.section__content {
  grid-column: 2;
}

.section__content--slim {
  max-width: var(--width--article);
}
