
.section {
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-areas: "... content ...";
  grid-template-columns: $base-spacing auto $base-spacing;

  @media(min-width: $mobile-breakpoint) {
    grid-template-columns: minmax($base-spacing * 3, 1fr) minmax(auto, $content-width) minmax($base-spacing * 3, 1fr);
  }
}

.section--bordered {
  border-bottom: $base-border;
  border-top: $base-border;
}

.section--padded {
  padding-bottom: $base-spacing;
  padding-top: $base-spacing;

  @media(min-width: $mobile-breakpoint) {
    padding-bottom: $large-spacing;
    padding-top: $large-spacing;
  }
}

.section__content {
  grid-column: 2;
}

.section__content--slim {
  max-width: $article-width;
}
