.christmas {
  position: relative;

  h2 {
    font-family: var(--heading-font-family);
    font-size: var(--font-size--xlarge);
    font-weight: var(--font-weight--normal);
    letter-spacing: normal;
    line-height: var(--line-height--unleaded);
    margin-top: var(--spacing--double);
  }
}

.christmas__year {
  color: rgba(var(--content-color-rgb), 0.1);
  font-family: var(--heading-font-family);
  font-size: 10rem;
  font-weight: var(--font-weight--normal);
  line-height: var(--line-height--unleaded);
  margin: 0;
  overflow-x: hidden;
  position: absolute;
  top: calc(-1 * var(--spacing--double));

  @media(min-width: $breakpoint--desktop) {
    font-size: 16rem;
  }
}
