.landing__quotation {
  line-height: var(--line-height--tight);
  margin: var(--spacing) 0;
}

.landing__quote {
  font-size: var(--font-size--medium);
  margin: 0;
  margin-bottom: var(--spacing--quarter);
}
