.play {
  font-weight: var(--font-weight--body);

  h2 {
    border-bottom: var(--border);
    font-weight: var(--font-weight--body);
    letter-spacing: var(--letter-spacing--loose);
    margin-bottom: var(--spacing--half);
    margin-top: var(--spacing--double);
    padding-bottom: var(--spacing--half);
    text-transform: uppercase;
  }
}

.play__logline {
  font-size: var(--font-size--medium);
}

.play__quotation {
  margin: var(--spacing) 0;
}

.play__quote {
  font-size: var(--font-size--large);
  line-height: var(--line-height--tight);
  margin: 0;
}
