.resume {
  @include unordered-list;
  font-weight: var(--font-weight--body);

  abbr {
    text-decoration: none;
  }
}

.resume__author {
  font-family: var(--heading-font-family);
  font-size: var(--font-size--xlarge);
  font-weight: var(--font-weight--body);
  text-transform: uppercase;
}

.resume__contact-info {
  display: flex;
  font-size: var(--font-size--small);
  flex-direction: column;
}

.resume__date {
  display: flex;

  & + &::before {
    content: "—";
  }
}

.resume__description {
  grid-area: description;
}

.resume__duration {
  display: flex;
  font-size: var(--font-size--small);
}

.resume__header {
  margin-bottom: var(--spacing);

  @media(min-width: $breakpoint--large-screen) {
    display: grid;
    grid-template-columns: 1fr max-content max-content;
    grid-column-gap: var(--spacing);
  }
}

.resume__highlights {
  margin-top: var(--spacing--half);

  small {
    display: block;

    &:first-of-type {
      margin-top: var(--spacing);
    }
  }
}

.resume__item {
  border-top: var(--border);
  padding: var(--spacing--quarter) 0;

  &:first-of-type {
    border: none;
  }

  @media(min-width: $breakpoint--large-screen) {
    display: grid;
    grid-template-areas: "term description";
    grid-template-columns: 12rem 1fr;
    grid-column-gap: var(--spacing--half);
  }
}

.resume__location {
  display: flex;

  &::before {
    content: "・";
  }
}

.resume__section {
  border-top: var(--border--thick);

  & + & {
    margin-top: var(--spacing--double);
  }
}

.resume__term {
  grid-area: term;
  margin: 0;
}
