.resume {
  @include unordered-list;
  font-weight: var(--font-weight--body);

  abbr {
    text-decoration: none;
  }

  h2 {
    border-bottom: var(--border--thick);
    font-size: var(--font-size--small);
    font-weight: var(--font-weight--body);
    letter-spacing: var(--letter-spacing--loose);
    padding-bottom: var(--spacing--half);
    text-transform: uppercase;

    &:not(:first-of-type) {
      margin-top: var(--spacing--double);
    }
  }

  h3 {
    line-height: var(--line-height--tight);
    margin-bottom: 0;
    margin-top: var(--spacing--quarter);
  }

  hr {
    margin: var(--spacing--half) 0;
  }

  time {
    font-size: var(--font-size--small);
  }
}

.resume__author {
  font-family: var(--heading-font-family);
  font-size: var(--font-size--xlarge);
  font-weight: var(--font-weight--body);
  text-transform: uppercase;
}

.resume__contact-info {
  display: flex;
  flex-direction: column;
  font-size: var(--font-size--small);
}

.resume__header {
  margin-bottom: var(--spacing);

  @media(min-width: $breakpoint--large-screen) {
    display: grid;
    grid-column-gap: var(--spacing);
    grid-template-columns: 1fr max-content max-content;
  }
}
