<h2>
  Production
</h2>

<div class="stack">
  <% current_page.data.productions.each_with_index do |production, index| %>
    <%= partial "plays/production", locals: { production: production, index: index } %>
  <% end %>
</div>
