<ul class="fine-print inline-list">
  <% if current_page.data.genre.present? && current_page.data.structure.present? %>
    <li>
      <%= "A #{current_page.data.genre} in #{current_page.data.structure}" %>
    </li>
  <% end %>
  <% if current_page.data.duration_in_minutes.present? %>
    <li>
      <%= current_page.data.duration_in_minutes %> min
    </li>
  <% end %>
  <% if current_page.data.cast_size.present? %>
    <li>
      <%= current_page.data.cast_size %>
    </li>
  <% end %>
</ul>
