.themes--dark {
  --background-color: #121212;
  --content-color: #f5f5f5;
  --content-color-rgb: 245, 245, 245;
}

.themes--mr-and-mrs-blacke {
  --background-color: #121212;
  --content-color: #f5f5f5;
  --content-color-rgb: 245, 245, 245;
}
