.themes--christmas {
  --content-color: #8f1532;
  --content-color-rgb: 143, 21, 50;
}

.themes--christmas-2014 {
  --content-color: #3a843b;
  --content-color-rgb: 58, 132, 59;
}

.themes--dark {
  --background-color: #121212;
  --content-color: #f5f5f5;
  --content-color-rgb: 245, 245, 245;
}

.themes--mr-and-mrs-blacke {
  --background-color: #121212;
  --content-color: #f5f5f5;
  --content-color-rgb: 245, 245, 245;
}
