.themes--christmas {
  --content-color: #8f1532;
  --content-color-rgb: 143, 21, 50;
}

.themes--christmas-2006 {
  --content-color: #d41822;
  --content-color-rgb: 212, 24, 34;
}

.themes--christmas-2007 {
  --content-color: #70a04f;
  --content-color-rgb: 112, 160, 79;
}

.themes--christmas-2008 {
  --content-color: #986135;
  --content-color-rgb: 152, 97, 53;
}

.themes--christmas-2014 {
  --content-color: #3a843b;
  --content-color-rgb: 58, 132, 59;
}

.themes--dark {
  --background-color: #121212;
  --content-color: #f5f5f5;
  --content-color-rgb: 245, 245, 245;
}

.themes--last-call {
  --background-color: #1b1411;
  --content-color: #d7c7bc;
  --content-color-rgb: 215, 199, 188;
  --accent-color: #7d5e4a;
}

.themes--mr-and-mrs-blacke {
  --background-color: #121212;
  --content-color: #f5f5f5;
  --content-color-rgb: 245, 245, 245;
}

.themes--taboo {
  --background-color: #121212;
  --content-color: #f5f5f5;
  --content-color-rgb: 245, 245, 245;
  --accent-color: #b6258a;
}
