<div class="carousel <%= "carousel--grayscale" if locals[:grayscale] %>">
  <nav class="carousel__thumbnails">
    <% image_paths.each do |image_path| %>
      <% link_to "##{image_path.split("/")[-1].chomp(".jpg")}", class: "carousel__thumbnail-link" do %>
        <%= image_tag(
          "#{folder_path(current_resource.path)}/#{image_path}",
          class: "carousel__thumbnail",
          loading: "lazy",
        ) %>
      <% end %>
    <% end %>
  </nav>

  <div class="carousel__images">
    <% image_paths.each do |image_path| %>
      <%= image_tag(
        "#{folder_path(current_resource.path)}/#{image_path}",
        id: "#{image_path.split("/")[-1].chomp(".jpg")}",
        class: "carousel__image",
        loading: "lazy",
      ) %>
    <% end %>
  </div>
</div>
