<section class="section">
  <div class="section__content footer">
    <div>
      &copy; <%= Time.now.year %> Keiran King.
    </div>

    <nav class="footer__nav">
      <%= link_to "GitHub", "https://github.com/keiranking", class: "u-link--incognito" %>
    </nav>
  </div>
</section>
