<section class="section">
  <div class="section__content header">
    <div class="header__logo">
      <%= link_to "keiranking.com", "/", class: "u-link--incognito" %>
      →
      <%= breadcrumbs current_page %>
    </div>

    <nav class="header__nav">
      <%= link_to "Contact", "mailto:me@keiranking.com", class: "u-link--incognito" %>
    </nav>
  </div>
</section>
