.u-margin-bottom {
  margin-bottom: var(--spacing);
}

.u-margin-bottom--double {
  margin-bottom: var(--spacing--double);
}

.u-margin-top {
  margin-top: var(--spacing);
}

.u-margin-top--double {
  margin-top: var(--spacing--double);
}
