@mixin ordered-list {
  ol {
    counter-reset: list-counter;
    font-weight: var(--font-weight--body);
    list-style: none;
    padding-bottom: var(--spacing--half);
    padding-left: var(--spacing);

    li {
      counter-increment: list-counter;
      position: relative;

      &::before {
        content: counter(list-counter);
        left: calc(-1 * var(--spacing));
        position: absolute;
        top: 0;
      }
    }
  }
}
