@mixin ordered-list {
  ol {
    list-style: none;
    counter-reset: list-counter;

    li {
      counter-increment: list-counter;
      display: grid;
      grid-template-columns: var(--spacing) 1fr;

      * {
        grid-column: 2;
      }

      &::before {
        content: counter(list-counter);
        font-weight: var(--font-weight--body);
        grid-column: 1;
      }
    }
  }
}
