@mixin ordered-list {
  ol {
    counter-reset: list-counter;
    font-weight: var(--font-weight--body);
    list-style: none;
    padding-bottom: var(--spacing--half);
    padding-left: calc(1.25 * var(--spacing));

    li {
      counter-increment: list-counter;
      position: relative;

      &::before {
        content: counter(list-counter);
        font-weight: var(--font-weight--black);
        font-variant-numeric: tabular-nums;
        left: calc(-1.25 * var(--spacing));
        position: absolute;
        text-align: center;
        top: 0;
        width: 2ch;
      }
    }
  }
}
