@mixin unordered-list {
  ul {
    font-weight: var(--font-weight--body);
    list-style: none;
    padding-bottom: var(--spacing--half);
    padding-left: var(--spacing--half);

    li {
      margin-bottom: var(--spacing--eighth);
      position: relative;

      &::before {
        content: "▪";
        left: calc(-1 * var(--spacing--half));
        position: absolute;
        top: 0;
      }
    }
  }
}
