@mixin literature {
  h1 {
    font-family: var(--heading-font-family);
    font-size: var(--font-size--xlarge);
    font-weight: var(--font-weight--normal);
    line-height: var(--line-height--unleaded);
  }

  article {
    font-family: var(--alt-font-family);
  }
}
