.article {
  @include ordered-list;
  @include unordered-list;

  aside,
  blockquote {
    font-size: var(--font-size--quote);
    font-style: italic;
    font-weight: var(--font-weight--body);

    em {
      font-style: normal;
    }
  }

  img,
  picture {
    border-radius: var(--border-radius);
  }

  h2 {
    margin-top: var(--spacing--double);
  }
}

.article--case-studies {
  h1 {
    font-size: var(--font-size--large);
    font-weight: var(--font-weight--body);

    &::before {
      content: "Case Study | ";
    }
  }
}
