.flytitle {
  color: var(--font-color--dimmed);
  display: flex;
  font-size: var(--font-size--small);
  font-weight: var(--font-weight--normal);
  letter-spacing: 0.05rem;
  margin: var(--spacing--quarter) 0;
  text-transform: uppercase;
}

.flytitle__dept::after {
  content: " Dept.";
  white-space: pre;
}

.flytitle__item {
  display: flex;

  & + &::before {
    content: "·";
    margin: 0 var(--spacing--quarter);
  }
}
