.flytitle {
  color: $dimmed-font-color;
  display: flex;
  font-size: $xsmall-font-size;
  font-weight: $base-font-weight;
  letter-spacing: 0.05rem;
  margin: $xsmall-spacing 0;
  text-transform: uppercase;
}

.flytitle__dept::after {
  content: " Dept.";
  white-space: pre;
}

.flytitle__item {
  display: flex;

  & + &::before {
    content: "·";
    margin: 0 $xsmall-spacing;
  }
}
