.footer {
  border-top: var(--border);
  font-size: var(--font-size--small);
  margin-top: var(--spacing);
  padding-top: var(--spacing--half);
}

.footer__kickbar {
  display: flex;
  justify-content: space-between;
  margin-top: var(--spacing--half);
  padding: var(--spacing-xsmall) 0;
}

.footer__nav {
  display: flex;
}
