.footer {
  color: var(--font-color--dimmed);
  display: flex;
  font-size: var(--font-size--xsmall);
  justify-content: space-between;
  padding: var(--spacing-xsmall) 0;

}

.footer__nav {
  display: flex;
}
