.header {
  display: flex;
  font-size: var(--font-size--small);
  justify-content: space-between;
  padding: var(--spacing--quarter) 0;

}

.header__logo {
  font-weight: var(--font-weight--bold);
}
