.header {
  display: flex;
  font-family: $alternate-font-family;
  font-size: $small-font-size;
  justify-content: space-between;
  padding: $xsmall-spacing 0;

}

.header__logo {
  font-weight: $heavy-font-weight;

  a {
    text-decoration: none;
  }
}

.header__nav {
  display: flex;
}
