.header {
  display: flex;
  font-size: $small-font-size;
  justify-content: space-between;
  padding: $xsmall-spacing 0;

}

.header__logo {
  font-weight: $heavy-font-weight;
}

.header__nav {
  display: flex;
}
