.help-article {
  @include ordered-list;

  aside {
    border-left: 0.05rem solid var(--font-color);
    font-size: var(--font-size--small);
    font-weight: var(--font-weight--body);
    margin: 0 0 var(--spacing--small);
    padding: var(--spacing--small);
  }

  img,
  picture {
    border-radius: var(--border-radius);
  }
}
