.inline-list {
  * {
    display: inline;
  }

  & > *:not(:first-child) {
    margin-left: var(--spacing--quarter);
  }
}

.inline-list--bulleted {
  & > *:not(:first-child) {
    margin-left: 0;

    &::before {
      content: "·";
      margin: 0 var(--spacing--eighth);
    }
  }
}
