.resume {
  @include unordered-list;
  font-weight: var(--font-weight--body);

  a,
  abbr {
    text-decoration: none;
  }
}

.resume__author {
  font-family: var(--alt-font-family);
  font-size: var(--font-size--xlarge);
  font-weight: var(--font-weight--body);
  text-transform: uppercase;
}

.resume__contact-info {
  display: flex;
  font-size: var(--font-size--small);
  flex-direction: column;
}

.resume__date {
  font-size: var(--font-size--small);

  &:only-child::after {
    content: "—present";
  }

  & + &::before {
    content: "—";
  }
}

.resume__description {
  grid-area: description;
}

.resume__duration {
  display: flex;
}

.resume__header {
  margin-bottom: var(--spacing);

  @media(min-width: $breakpoint--large-screen) {
    display: grid;
    grid-template-columns: 1fr max-content max-content;
    grid-column-gap: var(--spacing);
  }
}

.resume__item {
  border-top: var(--border);
  border-color: var(--font-color--dimmed);
  padding: var(--spacing--xsmall) 0;

  &:first-of-type {
    border: none;
  }

  @media(min-width: $breakpoint--large-screen) {
    display: grid;
    grid-template-areas: "term description";
    grid-template-columns: minmax(max-content, 12rem) 1fr;
    grid-column-gap: var(--spacing--small);
  }
}

.resume__location {
  font-size: var(--font-size--small);
}

.resume__section {
  border-top: var(--border);
  border-width: var(--border-width--thick);

  & + & {
    margin-top: var(--spacing);
  }
}

.resume__term {
  grid-area: term;
}
