.sidenote {
  font-size: var(--font-size--small);
  line-height: var(--line-height--tight);
  margin-top: var(--spacing--double);
}

.sidenote__title {
  border-bottom: var(--border);
  font-weight: var(--font-weight--bold);
  margin-bottom: var(--spacing--quarter);
  padding-bottom: var(--spacing--quarter);
}

.sidenote__item {
  padding: var(--spacing--eighth) 0;
}
