.signage {
  // background: var(--background-color--tinted);
  border: var(--border);
  border-radius: var(--border-radius);
  font-size: 80%;
  font-weight: var(--font-weight--bold);
  display: inline-block;
  padding: 0.05rem 0.25rem 0;
  text-transform: uppercase;
}
