.signage {
  font-size: var(--font-size--small);
  font-weight: var(--font-weight--black);
  display: inline-block;
  text-transform: uppercase;
}

.signage--subway {
  align-items: center;
  background: var(--content-color);
  border-radius: calc(0.75 * var(--spacing--half));
  color: var(--background-color);
  display: inline-flex;
  font-weight: var(--font-weight--bold);
  height: calc(0.75 * var(--spacing));
  justify-content: center;
  width: calc(0.75 * var(--spacing));
}
