.subway {
  background-color: var(--font-color);
  border-radius: 50%;
  color: var(--background-color);
  display: inline-block;
  font-size: var(--font-size--small);
  font-weight: var(--font-weight--bold);
  height: var(--font-size);
  text-align: center;
  width: var(--font-size);
}
