---
date: 2020-09-01 00:00 UTC
layout: article
---

<h1>Design</h1>

<ul>
  <% current_page.children.each do |article| %>
    <li>
      <%= link_to article.title, article %>
    </li>
  <% end %>
</ul>
