---
title: Phil
date: 2019-08-21 03:19 UTC
layout: product

description_html: Phil is a free, open-source web app for building crossword puzzles.
tagline: Make your own crosswords
cta: Start puzzling
project_url: https://keiranking.com/phil
repo_url: https://www.github.com/keiranking/Phil

features:
  - heading: Intuitive
    description_html: Generate a grid. Get suggestions as you type. Export to
      .puz. Phil makes it all fast and simple.
  - heading: Powerful
    description_html: Build grids from scratch. Supply your own wordlist.
      <a href="https://www.github.com/keiranking/Phil">Fork the app</a>
      and go wild.
  - heading: Democratic
    description_html: Share your puzzles with
      friends. Or print an <a href="https://www.nytimes.com/puzzles/submissions/crossword">NYT submission</a>
      and share with the world.
quotes:
  - author: Sam Ezersky, asst. crossword editor
    quote: I've been looking for a tool like Phil for years&#58; a powerful,
      versatile crossword program with a well-designed, easy&#8209;to&#8209;use&nbsp;interface.
    source: The New York Times
---
