<section class="section section--padded">
  <div class="section__content section__content--slim">
    <p>
      Product designer at <%= link_to "thoughtbot", "https://www.thoughtbot.com" %> in NYC, helping clients like
      <%= link_to "MoMA", "https://membership.moma.org" %>,
      <%= link_to "Dome", "https://www.domecompass.com" %>, and
      <%= link_to "Oscar Health", "https://www.hioscar.com" %>
      find markets and build useful, intuitive tools.
    </p>
  </div>
</section>
