<section class="section">
  <div class="section__content">
    <h1>
      Hello world
    </h1>

    The <em>quick</em> brown fox jumps over <strong>the <em>lazy</em> dog</strong>.
  </div>
</section>
