<div class="section section--padded">
  <div class="section__content resume">
    <address class="resume__header">
      <h2 class="resume__author">
        Keiran King
      </h2>

      <div class="resume__contact-info">
        <p>
          7100 Kennedy Blvd E, Apt 3P<br />
          Guttenberg, NJ 07093
        </p>
      </div>

      <div class="resume__contact-info">
        <a href="mailto:me@keiranking.com">
          me@keiranking.com
        </a>

        <a href="tel:+14159419298">
          (415) 941-9298
        </a>
      </div>
    </address>

    <section class="resume__section">
      <dl>
        <div class="resume__item">
          <dt class="resume__term">
            Product Designer
          </dt>

          <dd class="resume__description">
            <a href="https://thoughtbot.com/">
              thoughtbot
            </a>
            <div class="resume__duration">
              <time datetime="2018-05-02" class="resume__date">2018</time>
            </div>
          </dd>
        </div>

        <div class="resume__item">
          <dt class="resume__term">
            Columnist
          </dt>

          <dd class="resume__description">
            <a href="http://jamaica-gleaner.com/">
              The Gleaner
            </a>
            <div class="resume__duration">
              <time datetime="2014-02-01" class="resume__date">2014</time>
              <time datetime="2015-06-30" class="resume__date">2015</time>
            </div>
          </dd>
        </div>

        <div class="resume__item">
          <dt class="resume__term">
            Founder
          </dt>

          <dd class="resume__description">
            Backstory
            <div class="resume__duration">
              <time datetime="2011-01-01" class="resume__date">2011</time>
              <time datetime="2014-07-31" class="resume__date">2014</time>
            </div>
          </dd>
        </div>
      </dl>
    </section>

    <section class="resume__section">
      <dl>
        <div class="resume__item">
          <div class="resume__description">
            <a href="https://www.recurse.com/">
              Recurse Center
            </a>

            <div class="resume__duration">
              <time datetime="2017-08-11" class="resume__date">2017</time><time datetime="2017-11-21" class="resume__date">2017</time>
            </div>
          </div>
        </div>

        <div class="resume__item">
          <dt class="resume__term">
            <abbr title="Master of Fine Arts">
              MFA
            </abbr>
          </dt>

          <dd class="resume__description">
            <a href="https://www.cca.edu/">
              California College of the Arts
            </a>

            <div class="resume__duration">
              <time datetime="2014-08-15" class="resume__date">2014</time><time datetime="2016-05-15" class="resume__date">2016</time>
            </div>
          </dd>
        </div>

        <div class="resume__item">
          <dt class="resume__term">
            <abbr title="Bachelor of Sciences">
              BS
            </abbr>
          </dt>

          <dd class="resume__description">
            <a href="https://www.ithaca.edu/">
              Ithaca College
            </a>

            <p class="resume__location">
              Ithaca, NY
            </p>

            <div class="resume__duration">
              <time datetime="2004-08-15" class="resume__date">2004</time><time datetime="2008-05-15" class="resume__date">2008</time>
            </div>
          </dd>
        </div>
      </dl>
    </section>
  </div>
</div>
